// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin{
    .dataTable{
        text-align:center;
        thead{
            background-color:#56C1FF;
        }
        th:nth-child(1),th:nth-child(2),
        td:nth-child(1),td:nth-child(2){
            text-align:left;
        }
    }
}