@import "bootstrap";
//@import 'bootstrap-select';
@import "font-awesome";
@import "select2";
@import "dataTables/jquery.dataTables";
@import "admin";
@font-face {
    font-family: 'Quark';
    src: url(/fonts/subset-Quark-Light.eot);
    src: url(/fonts/subset-Quark-Light.eot?#iefix) format('embedded-opentype'),
        url(/fonts/subset-Quark-Light.woff2) format('woff2'),
        url(/fonts/subset-Quark-Light.woff) format('woff'),
        url(/fonts/subset-Quark-Light.ttf) format('truetype'),
        url(/fonts/subset-Quark-Light.svg#Quark-Light) format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quark';
    src: url(/fonts/subset-Quark-Bold.eot);
    src: url(/fonts/subset-Quark-Bold.eot?#iefix) format('embedded-opentype'),
        url(/fonts/subset-Quark-Bold.woff2) format('woff2'),
        url(/fonts/subset-Quark-Bold.woff) format('woff'),
        url(/fonts/subset-Quark-Bold.ttf) format('truetype'),
        url(/fonts/subset-Quark-Bold.svg#Quark-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
}
body{
    *{
        font-family:"Quark";
    }
}
.jumbotron{
        height:100vh;
        margin-bottom:0;
       /* background-color: #fff9fb;*/
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.hidden{display:none!important;}
.dropdown-menu.inner{
    display:block;
}
.bootstrap-select{
    .btn{
        background:#fff;
        border:1px solid #ced4da;
    }
}
.big-header{
    font-size:3.5rem;
}
.dropdown-menu{
    >li {
        >a{
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
        }
    }
}
.bg-pink{
    background-color:#fff9fb;
}
.display-inline{display:inline-block;}
.img-icon{
    height:100%;
    max-width:100px;
}
.arrow-border{
    border:3px #000 solid;
    border-top:0;
    border-right:0;
}
.row-success{background-color:#edf4ed;}
.row-nearly{background-color:#fcf9b5;}
.row-center{background-color:#ffe494;}
.row-warning{background-color:#ff9494;}
.borderless td, .borderless th,.borderless tbody {
    border: 0!important;
}
.btn-fixed{
    position:fixed;
    top:2rem;
    z-index:1;
    padding: 2rem 3rem;
    border-left: 6px solid #7f7f84!important;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.fixed-right{    right:0;}
.fixed-left{left:0;}

/**Circle Percent**/
.prec-box{
    top: 1.5rem;
    position: relative;
    font-size: 20px;
}

.circle{
    position: relative;
    top: 15px;
    left: 15px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #fff;
}

.active-border{
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color:#39B4CC;
    margin:0 auto;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
    
}
.active-border-sm{
   width: 70px;
   height: 70px; 
   .circle{
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #fff;
    }
    .prec-box{
        position: relative;
        font-size: 18px;
        left:0.5rem;
    }
    
}
.bar-prec-box{
    position:absolute;
    left:calc(50% - 15px);
    bottom:0;
}
.bar{
    width:100%;
    height: 100%;
    position:relative;
    bottom:0px;
}
.bar-active-border{
    position: relative;
    text-align: center;
    width: 50px;
    height: 300px;
    margin:0 auto;
    background: linear-gradient(#1DB100, #ffc107 ,#FF9300,#EE220C);
}
.a-removeunderline{
    display:table;
    margin:0 auto;
}
.a-removeunderline:hover{
    text-decoration:none;
}

.has-error{
    span.help-block{color:#dc3545}
    input,select,span.select2{border:1px solid #dc3545}
}
p.help-block{color:#45ABCD}
.error{
    color: #d73814;
}
.view-eye-hint{
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    left: 11px;
}

.container-insert{
    position:relative;
    padding-top:50px;
    .active-border{
        position:absolute;
        top:0;
        left:15px;
    }
    .text-header{
        padding-left:90px;
    }
}

.scrollToTop {
    margin: 0;
    position: fixed;
    bottom: 2%;
    right: 0;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px 20px 10px 10px;
    font-size: 12px;
}
.scrollToTop:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    text-decoration: none;
}
.toggle-hide{display:none};
.block-text{
    position:relative;
    .goto-formpage{
        position:absolute;
        top:0;
        right:1rem;
        background-color:#efefef;
        padding:0.5rem;
        border-radius:50%;
        color:#000;
        width:40px;
        height:40px;
        &:hover{
            background-color:#b0c9ec;
            color:#fff;
        }
    }
}
.important-display{
    display:block!important;
    opacity:1!important;
}

.select2-selection{
    border:0!important;
}
@import "theme";
@import "spin";